@media screen and (max-width: 500px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
    }

    form label {
        display: none;
    }

    form .category_container,
    form .title_container,
    form .content_container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px 0 0 0;
    }

    .content_container {
        height: 60%;
    }
    
    #id_category,
    #id_title {
        height: 40px;
        width: 100%;
        font-size: 16px;
        border: 1px solid #030303;
    }
    
    form select option {
        background-color: #04325f;
        color: #ffffff;
        font-size: 16px;
    }

    form select option:first-child {
        background-color: gray;
    }

    /* outer body of the content field. */
    .tox-tinymce {
        width: 100%;
        background-color: #030303;
    }

    #id_submit {
        height: 35px;
        width: 70px;
        background-color: green;
        color: #ffffff;
        border-radius: 5px;
        margin-top: 20px;
    }

    #id_submit:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
