@media screen and (max-width: 500px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        background-color: aqua;
    }
    
    #id_category,
    #id_title {
        align-self: center;
        height: 40px;
        width: 90%;
        margin-top: 20px;
    }

    #id_title {
        margin-bottom: 20px;
    }
    
    form select option {
        max-width: 100px;
        background-color: aqua;
    }

    .tox {
        width: 90%;
    }

    .tox-editor-container {
        height: 400px;
    }
    .tox-editor-container,
    .tox-editor-header,
    .tox-editor-overlord {
        width: 100%;
    }
}
