body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}