.sharethis-inline-share-buttons {
    padding-left: 16px;
    margin-bottom: 20px;
}

.share-like-comment {
    padding: 16px 0;
}

.share-like-comment p {
    margin-bottom: 5px;
    font-size: 16px;
    border-top: 1px solid #04325f;
    padding-top: 16px;
}

.share-like-comment .like {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
}

.share-like-comment .like .like-btn-style {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #444;
}

.share-like-comment .like .dislike-btn-style {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #444;
}

.share-like-comment .like .total-likes,
.share-like-comment .like .total-dislikes {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.article-like {
    height: 50%;
    cursor: pointer;
}

.article-dislike {
    height: 50%;
    cursor: pointer;
}

.share-like-comment .comment {
    font-size: 18px;
}

.share-like-comment .comment-disclaimer {
    border-top: 0;
    padding-top: 0;
    padding: 10px 16px;
    background-color: #f5c3c3;
    background-color: pink;
    font-size: 16px;
}

.share-like-comment .comment-disclaimer span:first-child {
    display: block;
    color: #ba2121;
    margin-bottom: 10px;
    font-weight: bold;
}

.share-like-comment .comment-disclaimer span:last-child {
    display: block;
    color: #ba2121;
}

.share-like-comment #comment-form {
    margin-bottom: 16px;
}

.share-like-comment #comment-form .sub-btn-pos-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-like-comment #comment-form #id-comment {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #444;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.share-like-comment #comment-form #comment-sub-btn {
    padding: 7px 5px;
    background-color: #04325f;
    color: #ffffff;
    border-radius: 5px;
}
