body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #04325f;
    color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.position-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 90%;
}

.error-code {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    width: 90%;
    text-align: center;
}

.error-message {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
}

.statement1 {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.statement2 {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 40px 0;
}

.homepage-link button {
    background-color: gold;
    padding: 10px 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    cursor: pointer;
}