@media only screen and (max-width: 500px) {
    .menu_wrapper {
        background-color: #2a597e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
    }

    .sign-in {
        display: inline-block;
        color: #ffffff;
        /* font-size: min(5.5vw, 16px); */
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .menu {
        padding: 30px 20px;
        background-color: #03224e;
        position: absolute;
        height: 100vh;
        min-height: 100vh;
        overflow-y: scroll;
        width: 70%;
        top: 0;
        left: 0;
        font-weight: bold;
        display: none;
        z-index: 2;
    }

    .menu-toggle {
        cursor: pointer;
    }

    .bar {
        width: 20px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 0;
    }

    .categories ul,
    .menu-socials ul,
    .others ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .categories span,
    .menu-socials span,
    .others span {
        display: inline-block;
        color: gold;
        font-size: min(6vw, 17px);
        margin-bottom: 10px;
    }

    .categories a,
    .menu-socials a,
    .others a {
        text-decoration: none;
        display: block;
        color: white;
        overflow: hidden;
        margin-bottom: 10px;
        font-size: min(6vw, 15px);
        cursor: pointer;
    }

    .categories,
    .menu-socials,
    .others {
        padding-bottom: 10px;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

}

@media screen and (max-width: 320px) {
    .menu_wrapper {
        background-color: #2a597e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px 14px;
    }

    .categories a,
    .menu-socials a,
    .others div span:nth-child(n+2) {
        text-decoration: none;
        display: block;
        color: white;
        overflow: hidden;
        margin-bottom: 9px;
        font-size: max(5vw, 14px);
        cursor: pointer;
    }

    .categories span,
    .menu-socials span,
    .others div span:first-child {
        display: inline-block;
        color: gold;
        font-size: max(5vw, 17px);
        margin-bottom: 8px;
    }

    .sign-in {
        display: inline-block;
        color: #ffffff;
        /* font-size: max(5vw, 17px); */
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
}