.headline-title {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 18px;
    width: 100%;
}

.headline-title span {
    display: inline-block;
    padding: 10px 0;
    width: 90%;
}

.headline-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 200px;
}

.each-headline-link {
    display: inline-block;
    width: 90%;
    cursor: pointer;
}

.each-headline-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    background-color: #04325f;
}

.headline-image-container{
    display: none;
    width: 100%;
    height: 200px;
}

.headline-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline-category-title {
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
}

.headline-category-title span {
    display: block;
    width: 100%;
}

.headline-category-title span:first-child {
    padding-bottom: 3px;
    color: gold;
}

.headline-category-title span:last-child {
    color: #ffffff;
}

@media screen and (max-width: 320px) {
    .headline-image-container{
        width: 100%;
        height: 150px;
        background-color: #04325f;
    }
}

/* No healine container design */
.no-headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a597e;
    background-color: #04325f;
    overflow: hidden;
}

.no-headline-container-content {
    color: #ffffff;
    font-size: 20px;
    white-space: nowrap;

    -moz-animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;

    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    -moz-transform: translateZ(0) scale(1, 1);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

@keyframes scroll {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}