footer {
    display: flex;
    justify-content: center;
}

.footer {
    width: 90%;
}

.footer-link-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-image: url('/static/app_user/img/article.png');
    background-color: orange;
    width: 100%;
    height: 20px;
}

.footer-link-container li {
    background-color: aqua;
}