footer {
    display: flex;
    justify-content: center;
    background-color: #04325f;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer a img {
    width: 20px;
    height: 20px;
}

.footer a span {
    color: #ffffff;
    font-size: 12px;
}