@media only screen and (max-width: 500px) {
    .article-container-title {
        display: flex;
        justify-content: center;
        color: red;
        font-size: 16px;
        width: 100%;
    }

    .article-container-title span {
        display: inline-block;
        padding: 20px 0 0 0;
        width: 90%;
    }

    .article-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #2a597e;
        display: none;
        margin-bottom: 60px;
    }

    .each-article-container {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        width: 90%;
        border-bottom: 1px solid red;
    }

    .each-article-container:last-child {
        display: flex;
        justify-content: center;
        padding: 20px 0 10px 0;
        width: 90%;
        border-bottom: 1px solid #ffffff;
    }

    .each-article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        border-radius: 8px;
        background-color: #f5f5f5;
    }

    .article-link {
        cursor: pointer;
        width: 100%;
        text-decoration: none;
    }

    .article-link:hover {
        background-color: #F0F0F0;
    }

    .article-image-title {
        display: flex;
        flex-direction: row;
        align-items: start;
        height: fit-content;
        width: 100%;
        min-width: 100%;
    }

    .article-image-title .article-title {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 7px;
        /* font-size: min(5.5vw, 16px); */
        font-size: 16px;
    }

    .article-image-title .article-title span:first-child {
        display: block;
        color: red;
        font-weight: bold;
    }

    .article-image-title .article-title span:last-child {
        display: block;
        color: #04325f;
        font-weight: bold;
    }

    .article-image-title .image {
        width: 150px;
        height: 100px;
        background-color: #2a597e;
    }

    .article-image-title img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #2a597e;
    }

    .each-article .article-performance {
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: row;
        font-size: min(4.5vw, 14px);
        width: 100%;
        margin-top: 10px;
    }

    .article-performance .article-like,
    .article-performance .article-comment {
        height: 18px;
        width: 14px;
        margin-right: 4px;
    }

    .article-performance .like,
    .article-performance .comment {
        display: flex;
        align-items: end;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .each-article-container {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        width: 90%;
        border-bottom: 1px solid red;
    }

    .article-image-title {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: fit-content;
        width: 100%;
        min-width: 100%;
    }

    .article-image-title .image {
        display: flex;
        justify-content: start;
        width: 100%;
        height: 150px;
        background-color: #2a597e;
    }

    .article-image-title img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .article-image-title .article-title {
        width: 100%;
        margin-top: 10px;
        /* font-size: max(5vw, 15px); */
        font-size: 16px;
        padding: 0;
    }

    .each-article .article-performance {
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: row;
        font-size: max(4vw, 14px);
        width: 100%;
        margin-top: 10px;
    }
}
