.sign_up {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80%;
    margin-top: 40px;
    font-size: 16px;
}

.sign_up span {
    margin-right: 5px;
}

.sign_up a {
    text-decoration: none;
}