.login_form {
    align-self: center;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.remember_me_container {
    display: flex;
    flex-direction: row;
}

.username_container > label,
.password_container > label,
.password_container1 > label,
.password_container2 > label,
.email_container > label {
    display: none;
}

.password_container .helptext {
    display: block;
    font-size: 16px;
    margin-top: 7px;
}

.password_container .helptext a {
    text-decoration: none;
}

.username_container input,
.password_container input,
.password_container1 input,
.password_container2 input,
.email_container input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #030303
}

.password_container1 {
    margin-bottom: 5px;
}

.password_validators {
    margin-top: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password_validators li {
    width: 90%;
    font-size: 16px;
}

form button {
    height: 35px;
    width: 70px;
    background-color: green;
    color: #ffffff;
    border-radius: 5px;
}

@media screen and (max-width: 320px) {
    .password_container .helptext {
        font-size: 14px;
    }

    .password_validators li {
        font-size: 14px;
    }
}