@media screen and (max-width: 500px) {
    .page_header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80px;
        background-color: #04325f;
    }

    .page_header span {
        display: block;
        color: gold;
        font-size: min(5.5vw, 20px);
        font-weight: bolder;
    }

    .page_header small i {
        display: block;
        color: #ffffff;
        font-size: min(4.5vw, 16px);
        font-weight: normal;
    }
}

@media screen and (max-width: 320px) {
    .page_header span {
        font-size: max(5vw, 17px);
    }

    .page_header small i {
        font-size: max(4.5vw, 14px);
    }
}
