<!DOCTYPE html>
<html>
    <head>
        <title>Tessco blog article page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'app_user/img/tessco-blog-logo.png' %}" type="image/png" rel="icon">
        <link href="{% static 'article/css/create_article_body.css' %}" rel="stylesheet">
        <link href="{% static 'article/css/create_article_top_nav.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="title"></div>
        <div class="content"></div>
        <div class="reaction"></div>
        <div class="write-comment"></div>
        <div class="related-articles"></div>
        <div class="display-comments"></div>
    </body>
</html>