{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% trans 'Tessco blog article page' %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'app_user/img/tessco-blog-logo.png' %}" type="image/png" rel="icon">
        <link href="{% static 'article/css/create_article_body.css' %}" rel="stylesheet">
        <link href="{% static 'article/css/create_article_top_nav.css' %}" rel="stylesheet">
        <link href="{% static 'article/css/display_article_title_content.css' %}" rel="stylesheet">
        <link href="{% static 'article/css/prism.css' %}" rel="stylesheet">
        <link href="{% static 'user_follower/css/user_follower_form.css' %}" rel="stylesheet">
        <script src="{% static 'user_follower/js/user_follower_form.js' %}"></script>
    </head>
    <body>
        <nav class="link-container">
            <div class="styling-container">
                <a href="javascript:history.back()" class="back-link">&#9666;</a><!--&larr;-->
            </div>
        </nav>
        <div class="title">
            <p>
                {{ article.title }}
            </p>
        </div>
        <div class="content line-numbers">
            {% if request.user != article.user %}
                <p class="author">
                    <span>{{article.user.username}} - </span>
                    <span>{{article.created_at}}</span>
                    <form id="id_user_follower_form">
                        {% csrf_token %}
                        <input type="hidden" id="id_following" name="following" value="{{ article.user }}">
                        {% if is_following is False %}
                            <button id="id_submit_btn"><span id="id_follow">Follow</span></button>
                        {% else %}
                            <button id="id_submit_btn"><span id="id_follow">Unfollow</span></button>
                        {% endif %}
                        <div id="spinner"></div>
                    </form>
                </p>
            {% endif %}
            {{ article.content|safe }}
        </div>
        <div class="reaction"></div>
        <div class="write-comment"></div>
        <div class="related-articles"></div>
        <div class="display-comments"></div>
        <script src="{% static 'article/js/prism.js' %}"></script>
    </body>
</html>