#id_user_follower_form {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

#id_submit_btn {
    padding: 5px 10px;
    background-color: #04325f;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#spinner {
    border: 3px solid #04325f;
    border-bottom-color: #ffffff;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
