<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {% block title %}{% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'app_user/body.css' %}" rel="stylesheet">
        <link href="{% static 'app_user/header.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            TesscoNews
        </header>
        <div class="form-wraper">
            {% block form %}
            {% endblock %}
        </div>
    </body>
</html>