{% extends 'app_user/index_page_layout.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    Tessco blog
{% endblock %}

{% block article_stylesheet %}
    <link href="{% static 'app_user/css/articles.css' %}" rel="stylesheet">
{% endblock %}

{% block spinner_stylesheet %}
    <link href="{% static 'app_user/css/spinner.css' %}" rel="stylesheet">
{% endblock %}

{% block footer_stylesheet %}
    <link href="{% static 'app_user/css/footer.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="moto">
        <span> @Tessco blog </span>
        <small><i>Home for trending news</i></small>
    </div>
    <a class="sign-in">Sign in</a>
{% endblock %}

{% block menu %}
    <div class="style-container">
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="menu">
            <div class="categories">
                <span> Categories: </span>
                <nav>
                    <ul>
                        {% for category in categories %}
                        <li><a>{{ category.name|safe }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="menu-socials">
                <span> Contact us: </span>
                <nav>
                    <ul>
                        <li><a href="mailto:tesscoblog@gmail.com">Email</a></li>
                        <li><a href="https://twitter.com">Twitter</a></li>
                        <li><a href="https://facebook.com">Facebook</a></li>
                    </ul>
                </nav>
            </div>
            <div class="others">
                <span> Others: </span>
                <nav>
                    <ul>
                        <li><a> Advertise with us </a></li>
                        <li><a> Complaints & corrections </a></li>
                        <li><a> Privacy policy </a></li>
                        <li><a> Terms and conditions </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <a href="{% url 'account_login' %}" class="sign-in">Sign In</a>
        <div class="overlay"></div>
    </div>
{% endblock %}

{% block headline %}
    <a class="each-headline-link">
        <div class="each-headline-container">
            <div class="headline-image-container">
                <img class="headline-image">
                <div class="headline-category-title">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </a>
{% endblock %}

{% block active_articles %}
        <div class="each-article-container">
            <div class="each-article">
                <a class="article-link">
                    <div class="article-image-title">
                        <div class="image">
                            <img>
                        </div>
                        <div class="article-title">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="article-performance">
                        <div class="like">
                            <img class="article-like" src="{% static 'app_user/img/like.png' %}">
                            <div> 20 </div>
                        </div>
                        <div class="comment">
                            <img class="article-comment" src="{% static 'app_user/img/chat-icon.png' %}">
                            <div> 20 </div>
                        </div>
                        <div class="author-time">
                        </div>
                    </div>
                </a>
            </div>
        </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="assist">
            <a>Help</a>
            <a>Advertise with us</a>
            <a>Complaints & corrections</a>
        </div>
        <div class="socials">
            <a>Contact us:</a>
            <a>Twitter</a>
            <a>Facebook</a>
            <a href="mailto:tesscoblog@gmail.com">Email</a>
        </div>
        <div class="rules">
            <a>Privacy policy</a>
            <a>Terms and conditions</a>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ total_pages|json_script:"total_pages_id"}}
{% endblock %}
